<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
<link rel="stylesheet" href="button.css">
<div style="height: 45rem; width: 60%; background-color: #FCEED1; float: right;">
<div class="floating right" style="background-image: url(<%= image_path("bkg1.png") %>); background-size: 200%; background-repeat: no-repeat; background-position: center; height: 80%; width: 80%; border-radius: 20%; margin: 100px;">
</div>
</div>
<div class="left">
<h1>Find your perfect furry companion today!</h1>
</div>
<div class="center">
<p>Welcome to our pet adoption service, where we connect loving families with adorable pets in need of a forever home</p>
<div class="d-grid gap-2">
  <button style="--clr:#b7410e" type="button"><span>Adopt</span><i></i></button>
  <button style="--clr:#ffd8c4" type="button"><span>Learn More</span><i></i></button>
</div>
</div>