<div style="height: 47rem; width: 60%; background-color: #FCEED1; float: right;">
<div class="floating" style="background-image: url(<%= image_path("bkg1.png") %>); background-size: 200%; background-repeat: no-repeat; background-position: center; height: 80%; width: 80%; border-radius: 20%; margin: 100px;">
</div>
</div>